#logo{
    width: 5vw;
    border-radius: 5vw;
    margin-left: 70%;
}

#profile-name{
    width: 60vw;
}

#tech-skills, #soft-skills{
    font-size: 2vw;
    line-height: 2vw;
}
#scholarship figure{
    margin: 0%;
    margin-top: 10%;
    grid-column: 4;
    width: 30vw;
}

#scholarship figure img, #skills-fig img{
    width: 100%;
}

#skills-fig{
    width: 25vw;
    grid-column: 1;
}

#tech-skills{
    grid-column: 2;
}

#soft-skills{
    grid-column: 3;
}

#projects{
    grid-column: 3;
    grid-row: span 2;
    width: 35vw;
    margin-top: 10vw;
}

.container .school{
    grid-column: span 2;
    font-size: 2vw;
}

.contain figure, #skills-fig, .projects-fig{
    margin: 0%;
}

.container{
    color: white;
    width: 90%;
	max-width: 1000px;
	margin: 5px 5px;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    
    grid-template-areas: "header header header"
                         "contain contain sidebar"
                         "school school scholarship"
                         "skills-fig tech-skills soft-skills"
                         "fig-1 fig-2 projects"
                         "footer footer footer";
}

.container header, .container footer{
    grid-column-start: 1;
    grid-column-end: -1;
}

.container .contain, .container{
    grid-column-start: 1;
    grid-column-end: 3;
}

.container .sidebar {
	grid-column: 3/4;
	text-align: center;
	align-items: center;
	min-height: 100px;
    grid-area: sidebar;
    margin-top: 15%;
    font-size: 2vw;
    line-height: 2.5vw;
}

.tech-list{
    display: inline-flexbox;
}

.projects-fig figcaption a{
    color: ghostwhite;
}

.img{
    width: 25vw;
}

.img-icon{
    width: 5vw;
}

.icon{
    width: 4vw;
    align-self: center;
}

.img-projects{
    width: 15vw;
    height: 25vw;
    border-radius: 5vw;
}

.projects-fig{
    display: flex;
    border-radius: 4vw;
    width: 20vw;
}

header li a{
    text-decoration-line: none;
    color: ghostwhite;
    font-size: 2.5vw;
}

header li{
    display: inline;
    padding-left:5px;
    padding-right:5px;
}

header, footer{
    background-color:  rgba(138, 49, 165, 0.694);
}

figcaption{
    width: 30vw;
    font-size: 1.5vw;
    text-align: left;
    align-items: center;
    line-height: 2vw;
    margin-left: 5%;
}

figcaption a{
    font-size: 1vw;
}

body{
    background-image: url(./img/lunar-midnight.gif);
    background-repeat: round;
    font-family: 'Ubuntu', sans-serif;
}

dd{
    font-size: 1.5vw;
    line-height: 2vw;  
}

dt{
    font-weight: bolder;
    margin: 5%;
}

h4{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0%;
}

h2, h4, dt, footer p{
    font-family: 'Josefin Sans', sans-serif;
}

footer{
    text-align: center;
    font-size: 2vw;
}

footer p{
    margin: 0%;
}